env/
.local.env
.test.env
.env.example

__pycache__/
.pytest_cache/
.ruff_cache/

.git/
.github/
.platform/

docs/
scripts/
README.md

.gitignore
.coverage
.gitattributes
.dockerignore
*.pyc
*.pyo
*.pyd







